<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="currency" value="USD" />
    <add key="currencysymbol" value="$" />
    <add key="font" value="Consolas, 11.25pt" />
    <add key="row" value="bitcoin=BTC,ethereum=ETH&#xD;&#xA;Litecoin,NEO,bitcoin-cash=bcash" />
    <add key="alwaysontop" value="True" />
    <add key="freeformmode" value="False" />
    <add key="borderbuffer" value="3" />
    <add key="rowbuffer" value="0" />
    <add key="tickerbuffer" value="5" />
    <add key="tickerbackgroundcolor" value="-16777216" />
    <add key="tickerfontcolor" value="-1" />
    <add key="scrollingmode" value="True" />
    <add key="width" value="300" />
    <add key="refreshinterval" value="5" />
    <add key="screenlocationX" value="50" />
    <add key="screenlocationY" value="50" />
  </appSettings>
</configuration>